<!doctype html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml"  xml:lang="vi">
  <head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes"/>
    
    <meta name="theme-color" content="#0099ff"/>
    <meta http-equiv="Content-Language" content="VN" />
    <meta name="description" content=""   />
    <meta name="keywords" content="" />
    <meta property="og:url" name="og:url" content=" " data-app/>
    <meta property="og:type" name="og:type" content="website" data-app/>
    <meta property="og:description" name="og:description" content="" data-app/>
    <meta property="og:title" name="og:title" content="Home" data-app/>
    <meta property="og:image" name="og:image" content="" data-app>
    <meta property="og:image:alt" name="og:image:alt" content="" data-app>
    <link rel="canonical" href=" " />
    <link href="/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/grid.css"/>
    <link rel="stylesheet" type="text/css" href="/css/responsive.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
      <script src="/js/script.js"></script>
    </head>
  <body>
  <div id="page">
    <header class="header hide-on-tab">
      <div class="topheader">
          <div class="grid">
              <div class="flex-container align-center">
                  <div class="cell-1-2 tab-cell-1-1">
                      <div class="topheader-item topheader-left">
                        
                          <ul class="topheader-info">
                              <li>
                                  <i class="fas fa-phone-alt"></i>
                                  <a href="tel:0967966789">0967.966.789</a>
                              </li>
                              <li>
                                  <i class="fas fa-envelope"></i>
                                  <a href="mailto: info@katagroup.com"> info@katagroup.com</a>
                        </ul>

                      </div>
                  </div>
              <div class="cell-1-2 tab-cell-1-1">
                 <div class="flex-container align-center">
                  <div class="cell-2-3 tab-cell-1-1">
                    <div class="searchpc">
                                      
                      <form action="/search/" method="get" id="searchformtab">
                        <input name="qr" id="qr_search" class=" kw-mobile" placeholder="Tìm kiếm" type="text">
                          <i class="fa fa-search search-icon" aria-hidden="true"></i> 
                      </form>
                      <script type="text/javascript">

                        $(".submit-search-pc").click(function () {
                          if ($("#qr_search").val() != "")
                            $('#searchformtab').submit();
                          return false;

                        });

                        $(document).ready(function () {
                          $(".search-icon").click(function () {
                            $(".search-pc").stop().slideToggle("fast");
                            return false;
                          });
                        });
                      </script>  	
                   </div>
                  </div>
                  <div class="cell-1-3 tab-cell-1-1">
                      <div class="lang">
                      <a href="#" class="vi"></a>
                      <a href="#" class="en"></a>
                    </div>
                  </div>
                  </div>
                 </div>
              </div>
          </div>
        </div>
      <div class="grid">
        <div class="flex-container align-center">
          <div class="cell-1-5">
            <div class="logo">
              <a href="/"><img src="/uploaded/logo/logo.png" alt="LogoSite" style="max-width:100%;"  /></a>
              </div>
          </div> 
          <div class="cell-3-5 tab-cell-1-1">
            <div class="menubar">
                <ul class="nav hide-on-mobile">
                  <li class=" active " style="" > <a href="/"  class="">Home </a> </li>
                  <li class="  " style="" > <a href="/our-company.html"  class="">Our company <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <ul class=" mega-menu">
                      <li class=" mega-menu-item "><a href="/our-company.html#about-michem" >About Company</a>
                      </li>
                      <li class=" mega-menu-item "><a href="/our-company.html#mission-and-vision" >Mission and Vision</a>
                      </li>
                      <li class=" mega-menu-item "><a href="/our-company.html#values" >Values</a>
                      </li>
                    </ul>
                  </li>
                  <li class="  " style="" > <a href="/our-solution.html"  class="">Our solutions <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <ul class=" mega-menu">
                      <li class=" mega-menu-item "><a href="/paper-industry.html" > Paper Industry</a>
                        <ul>
                            <li class=""><a href="/wastewater-treatment.html" >Wastewater treatment</a> </li>
                            <li class=""><a href="/defoamer-amp-surface-sizing-agent-.html" >Defoamer &amp; Surface Sizing Agent.</a> </li>
                        </ul>
                      </li> 
                      <li class=" mega-menu-item "><a href="/mining-industry.html" >Mining industry</a></li>
                      <li class=" mega-menu-item "><a href="/cooling-tower-application.html" >Cooling Tower Application</a></li>
                      <li class=" mega-menu-item "><a href="/clean-the-equipment-system.html" >Clean the equipment system</a>  </li>
                    </ul>     
                  </li>
                  <li class="  " style="" > <a href="/news.html"  class="">News </a></li>
                  <li class="  " style="" > <a href="/contact-us.html"  class="">Contact us </a></li>
                </ul> 
            </div>
          </div>
         
        </div> 
      </div>
    </header>
    <div class="content">
      
     <div class="img-poster" style="position:relative">
      <div class="hide-on-tab">
          <img src="/uploaded/san-pham/banner_sp.png" alt="Các sản phẩm phụ kiện ô tô của KATA" width="100%">
      </div>
      <div class="grid"> <div class="crumb"><a href="/">Trang chủ</a> / <a href="/san-pham/">Sản phẩm</a></div><div class="c5"></div></div>
      </div>
      <div class="c30"></div>
      
      <div class="grid">
        <div class="homecat-title">
             lĩnh vực hoạt động
        </div>
   
        <div class="dichvu-intro">
       Với lĩnh vực công nghệ - công nghiệp, KATA là đơn vị tiên phong trong lĩnh vực sản xuất thảm lót sàn công nghiệp, thảm lót sàn ô tô, camera hành trình, sạc giá đỡ điện thoại,… dùng cho xe hơi. Đồng thời, với mục đích tạo ra những giá trị nhân văn, KATA mở rộng cho ra mắt các sản phẩm công nghệ cao phục vụ cho việc theo dõi, chăm sóc sức khỏe người tiêu dùng. 
        <br><br>
        Phụ kiện ô tô chính hãng giúp bảo vệ, nâng cấp và cá nhân hóa xe một cách toàn diện. KATA cung cấp đầy đủ các phụ kiện đồ chơi xe hơi chất lượng như thảm lót sàn, thảm sàn 360, camera hành trình, áo ghế da, bọc vô-lăng, rèm che nắng và hàng trăm sản phẩm khác.
        <br><br>
        Với mạng lưới điểm bán, các hệ thống gara ô tô, các cửa hàng đồ chơi ô tô rộng khắp, KATA là lựa chọn hàng đầu khi mua bán phụ kiện ô tô cần thiết cho mọi dòng xe. Từ phụ kiện bảo vệ nội thất đến các thiết bị hỗ trợ lái xe an toàn, KATA luôn đáp ứng nhanh, giá minh bạch, bảo hành rõ ràng.
        <div class="c30"></div>
        <div class="homeservice" style="position: relative;">
          <div class="flex-container">
            <div class="cell-1-5 tab-cell-1-1">
              <div class="homeservice-item">
                <img src="/uploaded/dichvu/item1.png" alt="">
                <div class="homeservice-box">
                   <div class="homeservice-name">
                    Ô tô và công nghiệp nặng
                </div>
                <div class="homeservice-link">
                  <a href="#"> Xem chi tiết <i class="fas fa-arrow-right"></i> </a>
                </div>
                <div class="c10"></div>
                </div>
              </div>
            </div>
            <div class="cell-1-5 tab-cell-1-1">
              <div class="homeservice-item">
                <img src="/uploaded/dichvu/item2.png" alt="">
                <div class="homeservice-box">
                   <div class="homeservice-name">
                    Ô tô và công nghiệp nặng
                </div>
                <div class="homeservice-link">
                  <a href="#"> Xem chi tiết <i class="fas fa-arrow-right"></i> </a>
                </div>
                <div class="c10"></div>
                </div>
              </div>
            </div>
            <div class="cell-1-5 tab-cell-1-1">
              <div class="homeservice-item">
                <img src="/uploaded/dichvu/item3.png" alt="">
                <div class="homeservice-box">
                   <div class="homeservice-name">
                    Ô tô và công nghiệp nặng
                </div>
                <div class="homeservice-link">
                  <a href="#"> Xem chi tiết <i class="fas fa-arrow-right"></i> </a>
                </div>
                <div class="c10"></div>
                </div>
              </div>
            </div>
            <div class="cell-1-5 tab-cell-1-1">
              <div class="homeservice-item">
                <img src="/uploaded/dichvu/item4.jpg" alt="">
                <div class="homeservice-box">
                   <div class="homeservice-name">
                    Ô tô và công nghiệp nặng
                </div>
                <div class="homeservice-link">
                  <a href="#"> Xem chi tiết <i class="fas fa-arrow-right"></i> </a>
                </div>
                <div class="c10"></div>
                </div>
              </div>
            </div>
            <div class="cell-1-5 tab-cell-1-1">
              <div class="homeservice-item">
                <img src="/uploaded/dichvu/item5.png" alt="">
                <div class="homeservice-box">
                   <div class="homeservice-name">
                    Ô tô và công nghiệp nặng
                </div>
                <div class="homeservice-link">
                  <a href="#"> Xem chi tiết <i class="fas fa-arrow-right"></i> </a>
                </div>
                <div class="c10"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
      
      </div>
      <div class="whyus">
        <div class="grid">
             <div class="homecat-title">
                 Tại sao chọn chúng tôi? 
            </div>
            <div class="c30"></div>
            <div class="dichvu-intro">
                KATA đã được nhiều thương hiệu và tổ chức có uy tín trong và ngoài nước đánh giá cao và lựa chọn làm đối tác lâu dài bởi chất lượng sản phẩm và phong cách làm việc chuyên nghiệp của đội ngũ nhân viên. Với hơn 1.000.000 khách hàng hài lòng về chúng tôi, KATA tự tin mang lại thành quả tốt đẹp cho đối tác của mình. Với chuyên môn và kinh nghiệm đang có, KATA mong mỏi và tự tin trở thành sự lựa chọn của Quý khách hàng.

            </div>
            <b>5 LÝ DO KHÁCH HÀNG NÊN CHỌN KATA:</b>
            <div class="c30"></div>
            <div class="flex-container">
                <div class="cell-4-10 tab-cell-1-1">
                    <img src="/uploaded/gioi-thieu/taisaochochungtoi.png" alt="">
                </div>
                <div class="cell-6-10 tab-cell-1-1">
                   <div class="whyus-box">
                     <div class="whyus-item">
                        
                        <div class="whyus-number">
                            <img src="/uploaded/gioi-thieu/bgnumber.png" alt="">
                           <span> 1</span>
                        </div>
                        <div class="whyus-box">
                            Chúng tôi đặt tiêu chí phục vụ khách hàng lên hàng đầu Toàn bộ đội ngũ nhân viên của chúng tôi thấu hiểu một điều rằng thành công của chúng tôi nằm trong những giá trị mà chúng tôi đem lại cho khách hàng.
                        </div>
                     </div>
                     <div class="whyus-item">
                        
                       <div class="whyus-number">
                            <img src="/uploaded/gioi-thieu/bgnumber.png" alt="">
                           <span> 2</span>
                        </div>
                        <div class="whyus-box">
                           Chuyên gia đội ngũ của KATA Việt Nam đã có kinh nghiệm tham gia nhiều dự án và qua mỗi dự án chúng tôi học hỏi, trau dồi và tìm kiếm tri thức mới.
                         <br>
                        <br></div>
                     </div>
                     <div class="whyus-item">
                       <div class="whyus-number">
                            <img src="/uploaded/gioi-thieu/bgnumber.png" alt="">
                           <span> 3</span>
                        </div>
                        <div class="whyus-box">
                            Mỗi thành viên của KATA Việt Nam đều là những chuyên gia trong lĩnh vực của mình. Thân thiện, giầu cảm hứng sáng tạo, có động lực làm việc mạnh mẽ đó chính là điểm khác biệt của họ.    </div>
                     </div>
                     <div class="whyus-item">
                        <div class="whyus-number">
                            <img src="/uploaded/gioi-thieu/bgnumber.png" alt="">
                           <span> 4</span>
                        </div>
                        <div class="whyus-box">
                           KATA Việt Nam giúp các doanh nghiệp và tập đoàn lớn trên toàn cầu tiết kiệm thời gian và chi phí của mình bằng cách đưa ra các sản phẩm phù hợp và giải quyết được vấn đề thường nhật của các doanh nghiệp và tập đoàn lớn trên toàn cầu.   </div>
                     </div>
                     <div class="whyus-item">
                        <div class="whyus-number">
                            <img src="/uploaded/gioi-thieu/bgnumber.png" alt="">
                           <span> 5</span>
                        </div>
                        <div class="whyus-box">
                          KATA Việt Nam bắt đầu bằng việc khởi tạo mối quan hệ hợp tác tin tưởng, và hoàn thành công việc bằng việc duy trì quan hệ dài lâu. Chính sách hỗ trợ, hậu mãi tạo cho khách hàng niềm tin hoàn toàn khi trao công việc cho chúng tôi.    </div>
                   </div>
                </div>
            </div>
            <div class="c30"></div>
            
        </div>
      </div>
    </div>
    

  <footer class="footer">
    
        <div class="grid">
        <div class="c30"> </div>
        <div class="flex-container">
          <div class="cell-1-4 tab-cell-1-1 footer-item">
            <div class="footer-block">    
              <div class="footer-title hide-on-tab "> Giới thiệu </div>
              <div class="c5 hide-on-tab"></div>
              <ul class="menuboxfooter" id="boxcol34">
                 <li><a href="#"> Giới thiệu chung</a> </li>
                 <li><a href="#"> Tầm nhìn - sứ mệnh - giá trị cốt lõi</a> </li>
                 <li><a href="#"> Lịch sử phát triển</a> </li>
                 <li><a href="#"> Ban lãnh đạo</a> </li>
                 <li><a href="#"> Thư ngỏ</a> </li>
                 <li><a href="#"> Cơ cấu tổ chức</a> </li>
                 <li><a href="#"> Tuyên bố bản quyền thương hiệu</a> </li>
                
              </ul>
              <div class="c10"></div>
            </div>
        </div>
          <div class="cell-1-4 tab-cell-1-1 footer-item">
            <div class="footer-block">    
              <div class="footer-title hide-on-tab "> Tin tức </div>
              <div class="c5 hide-on-tab"></div>
              <ul class="menuboxfooter" id="boxcol34">
                 <li><a href="#"> Hoạt động sự kiện kata</a> </li>
                 <li><a href="#"> Báo chí</a> </li>
                 <li><a href="#"> Tin tức sự kiện công nghệ</a> </li>
                 <li><a href="#">Tin nội bộ</a> </li>
              </ul>
              <div class="c10"></div>
            </div>
        </div>
          <div class="cell-1-4 tab-cell-1-1 footer-item">
            <div class="footer-block">    
              <div class="footer-title hide-on-tab "> Title footer </div>
              <div class="c5 hide-on-tab"></div>
              <ul class="menuboxfooter" id="boxcol34">
                 <li><a href="#"> Menu footer 1</a> </li>
                 <li><a href="#"> Menu footer 2</a> </li>
                 <li><a href="#"> Menu footer 3</a> </li>
              </ul>
              <div class="c10"></div>
            </div>
        </div>
          <div class="cell-1-4 tab-cell-1-1 footer-item">
            <div class="footer-block">    
              <div class="footer-title hide-on-tab "> Title footer </div>
              <div class="c5 hide-on-tab"></div>
              <ul class="menuboxfooter" id="boxcol34">
                 <li><a href="#"> Menu footer 1</a> </li>
                 <li><a href="#"> Menu footer 2</a> </li>
                 <li><a href="#"> Menu footer 3</a> </li>
              </ul>
              <div class="c10"></div>
            </div>
        </div>
        
      </div>
<div class="c20"></div>
        <div class="footer-copyright">
          <div class="c5"></div>
        <div class="flex-container">
          <div class="cell-1-2 tab-cell-1-1">
           <div class="">
             © Copyright 2025 - KATA Technology Store 
           </div>
          </div>
          <div class="cell-1-2 tab-cell-1-1">
           

            <ul class="footer-social">
             Kết nối với chúng tôi qua:
            <li class="facebook  hvr-float">
              <a href="https://www.facebook.com/hocbongvnu" class="footer-social__item">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="youtube  hvr-float">
              <a href="https://www.facebook.com/messages/t/107485111873245/" class="footer-social__item">
                <i class="fab fa-youtube"></i>
              </a>
            </li>
            <li class="linkedin  hvr-float">
              <a href="" class="footer-social__item">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="instagram  hvr-float">
              <a href="" class="footer-social__item">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
           
          </ul>
          </div>
        </div>
        </div>
          
        </div> 
    </footer>
<div id="popupDangKy" class="modal-box">
    <a href="#" class="js-modal-close close btn-close"> [×] </a>
    <div class="modal-body">
        <div class="dangky">
            <div style="padding:20px; border-radius:10px; min-height:320px; ">
                <form action="/index4.php?page=contact&lang=" method="post" id="regform" data-alert="Bạn cần nhập đủ thông tin vào những trường màu đỏ" data-captcha ="Mã captcha không đúng" data-success="Thông tin liên hệ đã được gửi thành công !" data-redirect="/contact-success/" >

                    <input type="hidden"  name="code" value="save" />                

                    <div class="form-title"> Tư vấn </div>
                    <div class="c10"></div>
                    <div class="form-label" style="text-align:center;"><i> Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất </i>  </div>
                    <div class="c10"></div>
                    <div class="c20"></div>

                    <input name="yourname" type="text" class="txt-contact notNull" placeholder="Họ tên (*)" id="yourname"  />
                    <div class="c10"></div>

                    <input name="phone" type="text" class="txt-contact notNull"  placeholder="Điện thoại (*)"  />
                    <div class="c10"></div>
                    <input name="address" type="text" class="txt-contact "  placeholder="Địa chỉ" />
                    <div class="c10"></div>

                    <select name="other_request" type="text" class="txt-contact">
                        <option value=""> Chọn hình thức tư vấn  </option>
                        <option value="Tư vấn mua hàng"> Tư vấn mua hàng </option>
                        <option value="Tìm đại lý, cửa hàng gần nhất">Tìm đại lý, cửa hàng gần nhất </option>

                    </select>
                    <div class="c10"></div>

                    <div style="position:relative;">
                        <input class="newsletter newsletter_b notNull" placeholder="Enter Captcha" name="sercurity"/>
                        <img src="/lib/imagesercurity.php?recaptcha=n" name="imgCaptcha" align="absmiddle" class="imgCaptcha newsletter-capt-img" style="height: 35px; position: absolute; top: 0px; right: 0px; " />

                    </div>


                    <div class="c20"></div>
                    <input name="input" type="button" onClick="$('#regform').submit()" class="btn-send" value="SEND" />
                    <div class="c5"></div>
                    <div class="msgbox" style="font-size: 20px; text-align:center;"> </div>		
                </form>


            </div>
        </div>			
    </div>
</div>	

<script>
  $(function () {

      var appendthis = ("<div class='modal-overlay js-modal-close'></div>");

      $('a[data-modal-id]').click(function (e) {
          e.preventDefault();
          $("body").append(appendthis);
          $(".modal-overlay").fadeTo(500, 0.7);
          var modalBox = $(this).attr('data-modal-id');
          $('#' + modalBox).fadeIn($(this).data());
      });

      $(".js-modal-close, .modal-overlay").click(function () {
          $(".modal-box, .modal-overlay").fadeOut(500, function () {
              $(".modal-overlay").remove();
          });
          return false;
      });


  });
</script>

<link rel="stylesheet" rel="preload" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
<link rel="stylesheet" href="/css/hover.css" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"  />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" ></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"  ></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/4.7.5/js/jquery.mmenu.min.all.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/4.7.5/css/jquery.mmenu.all.min.css"  crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div id="button-btt">
    <a href="#"><i class="fa fa-chevron-up"></i> </a>
</div>


<script>
    function check_newsletter() {
        ok = true;
        $('#newsletterForm .error').removeClass('error');
        $('#newsletterForm .notNull').each(function () {
            if ($(this).val() == '') {
                $(this).addClass('error');
                ok = falsAe;
            }
        }
        );
        return ok;
    }

    $(function () {
        $('.countcart').html('(0)');
    });
</script>
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=648acdfc93018600124e74fc&product=inline-share-buttons' async='async'></script>
<link rel="stylesheet" href="/css/widget-call.css" />
</body>
</html>